.container {
    height: 100%;
    width: 70%;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 70px;
    display: block;
    margin-left: 25%;
  }
.row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
.title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
}
 .title h2{
    font-size: 40px;
    color: white;
    font-weight: 600;
    position: relative;
 }
 .title h2::before{
    content: " ";
    height: 4px;
    width: 70px;
    background-color: rgb(255, 128, 0);
    border-radius: 10px;
    position: absolute;
    top: 100%;
    left: 0;
}
.heading {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
  }
  
  .heading h2 {
    color: var(--text-black-900);
    font-weight: 500;
  }
.projects{
  width: 100%;
  height: auto;
  place-content: center;
  place-items: center;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 12px;
  display: flex;
  justify-content: space-evenly;
}

figure{
  position: relative;
  width: 400px;
  height: auto;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 20px rgb(48 46 77 / 15%);
  cursor: pointer;
  padding: 0%;
  margin-bottom: 0px;
}
figure img{
  width: 100%;
  height: auto;
  transition: all 500ms ease-out;
}
figure .layer{
  position: absolute;
  top:0;
  transition: all 500ms ease-out;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.895);
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  
}
figure:hover > .layer{
  opacity: 1;
  text-align: center;
  visibility: visible;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
figure .layer h2{
  color: black;
  font-weight: 600;
  font-size: 28px;
  color:  rgb(255, 128, 0);
  margin-bottom: 120px;
  transition: all 500ms ease-out;
  margin-top: 30px;
  font-family: "Sono", sans-serif;
}
figure .layer p{
  color: black;
  font-size: 20px;
  font-weight: 400;
  width: 100%;
  height: 100%;
  max-width: 260px;
  text-align: center;
}
figure:hover > .layer h2{
  margin-top: 50px;
  margin-bottom: 15px;

}

  @media(max-width: 1100px){
    .container{
      width: 90%;
      margin-left: 8%;
    }
  }
  @media(max-width: 700px){
   figure{
    width: 250px;
    height: auto;

   }
   .projects{
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
  }
  figure:hover > .layer h2{
    height: 100%;
    margin: 0;
    margin-top: 10%;
  }
  figure .layer p{
    position: absolute;
    visibility: hidden;
  }
  }